<div class="container">
  <mat-form-field appearance="fill">
<!--    <mat-label>Search</mat-label>-->
    <input matInput [(ngModel)]="searchTerm" >
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <p>
    <button mat-raised-button color="primary">{{searchTerm}}</button>
  </p>
</div>
