<!--Ahoj {{name}}-->
<!--<br>-->
<!--<input type="text" [(ngModel)]="name">-->
<table>
  <tr>
    <td>Nazov</td>
    <td>Krajina</td>
  </tr>
  <tr *ngFor="let name of names">
    <td>{{name}}</td>
    <td>Slovensko</td>
  </tr>
</table>
