tr {
  cursor: pointer;
}

table {
  font-family: sans-serif;
}

th, td {
  padding: .25em .5em;
  text-align: left;
}
*:nth-child(2) {
   text-align:right;
}

td {
  background-color:#eee;
}
th {
  background-color:#009;
  color:#fff;
}


.zigzag {
  border-collapse: separate;
  border-spacing: .25em 1em;
}
tbody tr:nth-child(odd) {
  transform:rotate(2deg);
}
thead tr,
tbody tr:nth-child(even) {
  transform:rotate(-2deg);
}

p {
  text-align: left !important;
}
