<h1 *ngIf="testSomething()">Test ngIF</h1>
<input type="text" [(ngModel)]="country" >
<br>
<button (click)="loadData()">Load Data</button>

<table class="zigzag">
  <thead>
    <tr>
      <th class="header">Name</th>
      <th class="header">Country</th>
      <th class="header">Web</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let university of universities" (click)="selectUniversity(university)">
      <td>{{university.name}}</td>
      <td>{{university.country}}</td>
      <td><a [href]="university.web" target="_blank">{{university.web}}</a></td>
    </tr>
    </tbody>
</table>

<p *ngIf="selectedUniversity">Selected university: {{selectedUniversity.name + " " +  selectedUniversity.web}}</p>
